[submodule ":\\Users\\steph\\GitRepo\\Mathinggame-main\\Matchinggame1\\MathingGame22\\Matchinggame22"]
	path = :\\Users\\steph\\GitRepo\\Mathinggame-main\\Matchinggame1\\MathingGame22\\Matchinggame22
	url = https://github.com/anthonyromrell/ArtisanDream.Tools
[submodule "ArtisanDream.Tools"]
	path = ArtisanDream.Tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools
